nav li a:link{
    font-weight: 500;
}
nav li a:hover{
    background-color: #0080ff;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 7px;
}
nav h1,h2,h3,h4,h5,h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navImgLogo{
  width:112px;
  height: auto;
}
nav h1{
  font-size: 36px;
}
nav h4{
  font-size: 24px;
}
/* body{
  background-image: url('../docs/bg-img-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size:cover;
} */
